body {
    font-family: Tahoma, Helvetica, Arial;
    color: darkgray;
    background: lightgray;
}

.container {
    width: 640px;
    margin: 0 auto;
    display: grid;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
}

.card {
    background: white;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: darkgray 0 0 8px;
}

.col3 {
    grid-column: 1 / 4;
}

.card.message {
    border-left: 15px solid yellowgreen;
}

form input {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid lightgray;
    border-bottom: 2px solid grey;
    outline: none;
}

form input:focus {
    border-bottom: 2px solid yellowgreen;
    outline: none;
}

form button {
    background: yellowgreen;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-bottom: 2px solid grey;
    color: white;
    font-size: 14px;
    outline: none
}

form button:hover {
    background: green;
    cursor: pointer;
}

.error-message {
    color: red;
    font-style: italic;
    margin-top: 5px;
    font-size: small;
}
